node_modules
dist
out
.DS_Store
.eslintcache
*.log*


# pnpm
.pnpm-store

# typescript
tsconfig.node.json
tsconfig.web.json


# drizzle
drizzle


# plan/spec
docs/*/**/plans/
docs/*/**/checklist.md
docs/*/**/spec.md
docs/*/**/tasks.md
